#color_1 { background: #BF1100; box-shadow: 1px 0px 0px #710B01, 0px 1px 0px #710B01, 2px 1px 0px #710B01, 1px 2px 0px #710B01, 3px 2px 0px #710B01, 2px 3px 0px #710B01, 4px 3px 0px #710B01, 3px 4px 0px #710B01, 5px 4px 0px #710B01, 4px 5px 0px #710B01, 6px 5px 0px #710B01, 5px 6px 0px #710B01, 7px 6px 0px #710B01, 6px 7px 0px #710B01, 8px 7px 0px #710B01, 7px 8px 0px #710B01, 9px 8px 0px #710B01, 8px 9px 0px #710B01; }

#color_2 { background: #00088F; box-shadow: 1px 0px 0px #000442, 0px 1px 0px #000442, 2px 1px 0px #000442, 1px 2px 0px #000442, 3px 2px 0px #000442, 2px 3px 0px #000442, 4px 3px 0px #000442, 3px 4px 0px #000442, 5px 4px 0px #000442, 4px 5px 0px #000442, 6px 5px 0px #000442, 5px 6px 0px #000442, 7px 6px 0px #000442, 6px 7px 0px #000442, 8px 7px 0px #000442, 7px 8px 0px #000442, 9px 8px 0px #000442, 8px 9px 0px #000442; }

#color_3 { background: #0F6600; box-shadow: 1px 0px 0px #052500, 0px 1px 0px #052500, 2px 1px 0px #052500, 1px 2px 0px #052500, 3px 2px 0px #052500, 2px 3px 0px #052500, 4px 3px 0px #052500, 3px 4px 0px #052500, 5px 4px 0px #052500, 4px 5px 0px #052500, 6px 5px 0px #052500, 5px 6px 0px #052500, 7px 6px 0px #052500, 6px 7px 0px #052500, 8px 7px 0px #052500, 7px 8px 0px #052500, 9px 8px 0px #052500, 8px 9px 0px #052500; }

#color_4 { background: #808080; box-shadow: 1px 0px 0px #353535, 0px 1px 0px #353535, 2px 1px 0px #353535, 1px 2px 0px #353535, 3px 2px 0px #353535, 2px 3px 0px #353535, 4px 3px 0px #353535, 3px 4px 0px #353535, 5px 4px 0px #353535, 4px 5px 0px #353535, 6px 5px 0px #353535, 5px 6px 0px #353535, 7px 6px 0px #353535, 6px 7px 0px #353535, 8px 7px 0px #353535, 7px 8px 0px #353535, 9px 8px 0px #353535, 8px 9px 0px #353535; }

#color_5 { background: #44024C; box-shadow: 1px 0px 0px #1F0023, 0px 1px 0px #1F0023, 2px 1px 0px #1F0023, 1px 2px 0px #1F0023, 3px 2px 0px #1F0023, 2px 3px 0px #1F0023, 4px 3px 0px #1F0023, 3px 4px 0px #1F0023, 5px 4px 0px #1F0023, 4px 5px 0px #1F0023, 6px 5px 0px #1F0023, 5px 6px 0px #1F0023, 7px 6px 0px #1F0023, 6px 7px 0px #1F0023, 8px 7px 0px #1F0023, 7px 8px 0px #1F0023, 9px 8px 0px #1F0023, 8px 9px 0px #1F0023; }

#color_6 { background: #D97000; box-shadow: 1px 0px 0px #793F00, 0px 1px 0px #793F00, 2px 1px 0px #793F00, 1px 2px 0px #793F00, 3px 2px 0px #793F00, 2px 3px 0px #793F00, 4px 3px 0px #793F00, 3px 4px 0px #793F00, 5px 4px 0px #793F00, 4px 5px 0px #793F00, 6px 5px 0px #793F00, 5px 6px 0px #793F00, 7px 6px 0px #793F00, 6px 7px 0px #793F00, 8px 7px 0px #793F00, 7px 8px 0px #793F00, 9px 8px 0px #793F00, 8px 9px 0px #793F00; }

#color_7 { background: #D9D500; box-shadow: 1px 0px 0px #888500, 0px 1px 0px #888500, 2px 1px 0px #888500, 1px 2px 0px #888500, 3px 2px 0px #888500, 2px 3px 0px #888500, 4px 3px 0px #888500, 3px 4px 0px #888500, 5px 4px 0px #888500, 4px 5px 0px #888500, 6px 5px 0px #888500, 5px 6px 0px #888500, 7px 6px 0px #888500, 6px 7px 0px #888500, 8px 7px 0px #888500, 7px 8px 0px #888500, 9px 8px 0px #888500, 8px 9px 0px #888500; }

#color_8 { background: #4C2F00; box-shadow: 1px 0px 0px #1F1300, 0px 1px 0px #1F1300, 2px 1px 0px #1F1300, 1px 2px 0px #1F1300, 3px 2px 0px #1F1300, 2px 3px 0px #1F1300, 4px 3px 0px #1F1300, 3px 4px 0px #1F1300, 5px 4px 0px #1F1300, 4px 5px 0px #1F1300, 6px 5px 0px #1F1300, 5px 6px 0px #1F1300, 7px 6px 0px #1F1300, 6px 7px 0px #1F1300, 8px 7px 0px #1F1300, 7px 8px 0px #1F1300, 9px 8px 0px #1F1300, 8px 9px 0px #1F1300; }

#color_9 { background: #FFC0CB; box-shadow: 1px 0px 0px #FF6983, 0px 1px 0px #FF6983, 2px 1px 0px #FF6983, 1px 2px 0px #FF6983, 3px 2px 0px #FF6983, 2px 3px 0px #FF6983, 4px 3px 0px #FF6983, 3px 4px 0px #FF6983, 5px 4px 0px #FF6983, 4px 5px 0px #FF6983, 6px 5px 0px #FF6983, 5px 6px 0px #FF6983, 7px 6px 0px #FF6983, 6px 7px 0px #FF6983, 8px 7px 0px #FF6983, 7px 8px 0px #FF6983, 9px 8px 0px #FF6983, 8px 9px 0px #FF6983; }

#color_10 { background: #232323; box-shadow: 1px 0px 0px #131313, 0px 1px 0px #131313, 2px 1px 0px #131313, 1px 2px 0px #131313, 3px 2px 0px #131313, 2px 3px 0px #131313, 4px 3px 0px #131313, 3px 4px 0px #131313, 5px 4px 0px #131313, 4px 5px 0px #131313, 6px 5px 0px #131313, 5px 6px 0px #131313, 7px 6px 0px #131313, 6px 7px 0px #131313, 8px 7px 0px #131313, 7px 8px 0px #131313, 9px 8px 0px #131313, 8px 9px 0px #131313; }

#color_11 { background: #0AD6D9; box-shadow: 1px 0px 0px #007C7D, 0px 1px 0px #007C7D, 2px 1px 0px #007C7D, 1px 2px 0px #007C7D, 3px 2px 0px #007C7D, 2px 3px 0px #007C7D, 4px 3px 0px #007C7D, 3px 4px 0px #007C7D, 5px 4px 0px #007C7D, 4px 5px 0px #007C7D, 6px 5px 0px #007C7D, 5px 6px 0px #007C7D, 7px 6px 0px #007C7D, 6px 7px 0px #007C7D, 8px 7px 0px #007C7D, 7px 8px 0px #007C7D, 9px 8px 0px #007C7D, 8px 9px 0px #007C7D; }

#color_12 { background: #DB12D3; box-shadow: 1px 0px 0px #73096F, 0px 1px 0px #73096F, 2px 1px 0px #73096F, 1px 2px 0px #73096F, 3px 2px 0px #73096F, 2px 3px 0px #73096F, 4px 3px 0px #73096F, 3px 4px 0px #73096F, 5px 4px 0px #73096F, 4px 5px 0px #73096F, 6px 5px 0px #73096F, 5px 6px 0px #73096F, 7px 6px 0px #73096F, 6px 7px 0px #73096F, 8px 7px 0px #73096F, 7px 8px 0px #73096F, 9px 8px 0px #73096F, 8px 9px 0px #73096F; }

#color_13 { background: #3D301C; box-shadow: 1px 0px 0px #130E07, 0px 1px 0px #130E07, 2px 1px 0px #130E07, 1px 2px 0px #130E07, 3px 2px 0px #130E07, 2px 3px 0px #130E07, 4px 3px 0px #130E07, 3px 4px 0px #130E07, 5px 4px 0px #130E07, 4px 5px 0px #130E07, 6px 5px 0px #130E07, 5px 6px 0px #130E07, 7px 6px 0px #130E07, 6px 7px 0px #130E07, 8px 7px 0px #130E07, 7px 8px 0px #130E07, 9px 8px 0px #130E07, 8px 9px 0px #130E07; }

#color_14 { background: #07D900; box-shadow: 1px 0px 0px #2A7928, 0px 1px 0px #2A7928, 2px 1px 0px #2A7928, 1px 2px 0px #2A7928, 3px 2px 0px #2A7928, 2px 3px 0px #2A7928, 4px 3px 0px #2A7928, 3px 4px 0px #2A7928, 5px 4px 0px #2A7928, 4px 5px 0px #2A7928, 6px 5px 0px #2A7928, 5px 6px 0px #2A7928, 7px 6px 0px #2A7928, 6px 7px 0px #2A7928, 8px 7px 0px #2A7928, 7px 8px 0px #2A7928, 9px 8px 0px #2A7928, 8px 9px 0px #2A7928; }

#color_15 { background: #D9423A; box-shadow: 1px 0px 0px #861F1A, 0px 1px 0px #861F1A, 2px 1px 0px #861F1A, 1px 2px 0px #861F1A, 3px 2px 0px #861F1A, 2px 3px 0px #861F1A, 4px 3px 0px #861F1A, 3px 4px 0px #861F1A, 5px 4px 0px #861F1A, 4px 5px 0px #861F1A, 6px 5px 0px #861F1A, 5px 6px 0px #861F1A, 7px 6px 0px #861F1A, 6px 7px 0px #861F1A, 8px 7px 0px #861F1A, 7px 8px 0px #861F1A, 9px 8px 0px #861F1A, 8px 9px 0px #861F1A; }

#color_16 { background: #DADADB; box-shadow: 1px 0px 0px #828282, 0px 1px 0px #828282, 2px 1px 0px #828282, 1px 2px 0px #828282, 3px 2px 0px #828282, 2px 3px 0px #828282, 4px 3px 0px #828282, 3px 4px 0px #828282, 5px 4px 0px #828282, 4px 5px 0px #828282, 6px 5px 0px #828282, 5px 6px 0px #828282, 7px 6px 0px #828282, 6px 7px 0px #828282, 8px 7px 0px #828282, 7px 8px 0px #828282, 9px 8px 0px #828282, 8px 9px 0px #828282; }

#panel { position: absolute; top: 0; left: 97%; z-index: 100; width: 30%; color: white; }
#panel #arrow { width: 10%; height: 100vh; background: rgba(0, 0, 0, 0.8); float: left; display: flex; justify-content: center; align-items: center; }
#panel #arrow #arrowhead { width: 0; height: 0; border-style: solid; border-width: 20px 20px 20px 0; border-color: transparent #424242 transparent transparent; }
#panel #top { height: 12vh; width: 90%; float: right; background: rgba(0, 0, 0, 0.6); display: flex; justify-content: center; align-items: center; }
#panel #sounds { box-sizing: border-box; padding: 10px; height: 88vh; width: 90%; float: right; background: rgba(0, 0, 0, 0.7); overflow-y: scroll; }
#panel #sounds .sound_button { background: black; color: white; border-radius: 5px; text-align: center; width: 100px; padding: 5px; border: 2px solid gray; cursor: pointer; }
#panel #sounds .html_sound_button { display: none; }
#panel #sounds p { color: white; display: inline-block; }
#panel #sounds hr { width: 70%; margin: 5px auto; border: 0; border-top: 1px solid white; }

.slide { left: -70%; }

* { margin: 0; padding: 0; font-family: arial; }

body { overflow-x: hidden; }

#head { height: 11vh; display: flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.9); }
#head h1 { text-align: center; color: white; font-size: 60px; }

#foot { height: 7vh; display: flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.9); }
#foot h2 { text-align: center; color: white; font-size: 30px; }

#wrap { height: 80vh; background: #242424; padding-bottom: 2vh; }
#wrap #start { padding-top: 1vh; }
#wrap #end { padding-bottom: 1vh; }
#wrap .container { height: 25%; width: 80%; margin: 0 auto; display: flex; justify-content: center; align-items: center; background: rgba(0, 0, 0, 0.7); }
#wrap .container .color_chooser { height: 100%; width: 14%; }
#wrap .container .color_chooser .volume_space { height: 100%; width: 50%; display: inline-block; }
#wrap .container .color_chooser .volume { width: 40%; height: 100%; display: inline-block; position: relative; outline: none; }
#wrap .container .color_chooser .slider { position: relative; border: 2px solid #3c3c3c; position: absolute; bottom: 10%; background: #1e1e1e; left: 30%; }
#wrap .container .color_chooser .right { left: 70%; }
#wrap .container .color_chooser .slider .ui-slider-range-min { border: 2px solid black; box-sizing: border-box; border-radius: 1px; }
#wrap .container .color_chooser .slider .ui-slider-handle { outline: none; height: 10%; background: #141414; }
#wrap .container .color_chooser #v1 .ui-slider-range-min { background: #BF1100; }
#wrap .container .color_chooser #v1 .ui-slider-handle { border: 2px solid #710B01; }
#wrap .container .color_chooser #v2 .ui-slider-range-min { background: #00088F; }
#wrap .container .color_chooser #v2 .ui-slider-handle { border: 2px solid #000442; }
#wrap .container .color_chooser #v3 .ui-slider-range-min { background: #0F6600; }
#wrap .container .color_chooser #v3 .ui-slider-handle { border: 2px solid #052500; }
#wrap .container .color_chooser #v4 .ui-slider-range-min { background: #808080; }
#wrap .container .color_chooser #v4 .ui-slider-handle { border: 2px solid #353535; }
#wrap .container .color_chooser #v5 .ui-slider-range-min { background: #44024C; }
#wrap .container .color_chooser #v5 .ui-slider-handle { border: 2px solid #1F0023; }
#wrap .container .color_chooser #v6 .ui-slider-range-min { background: #D97000; }
#wrap .container .color_chooser #v6 .ui-slider-handle { border: 2px solid #793F00; }
#wrap .container .color_chooser #v7 .ui-slider-range-min { background: #D9D500; }
#wrap .container .color_chooser #v7 .ui-slider-handle { border: 2px solid #888500; }
#wrap .container .color_chooser #v8 .ui-slider-range-min { background: #4C2F00; }
#wrap .container .color_chooser #v8 .ui-slider-handle { border: 2px solid #1F1300; }
#wrap .container .color_chooser #v9 .ui-slider-range-min { background: #FFC0CB; }
#wrap .container .color_chooser #v9 .ui-slider-handle { border: 2px solid #FF6983; }
#wrap .container .color_chooser #v10 .ui-slider-range-min { background: #232323; }
#wrap .container .color_chooser #v10 .ui-slider-handle { border: 2px solid #131313; }
#wrap .container .color_chooser #v11 .ui-slider-range-min { background: #0AD6D9; }
#wrap .container .color_chooser #v11 .ui-slider-handle { border: 2px solid #007C7D; }
#wrap .container .color_chooser #v12 .ui-slider-range-min { background: #DB12D3; }
#wrap .container .color_chooser #v12 .ui-slider-handle { border: 2px solid #73096F; }
#wrap .container .color_chooser #v13 .ui-slider-range-min { background: #3D301C; }
#wrap .container .color_chooser #v13 .ui-slider-handle { border: 2px solid #130E07; }
#wrap .container .color_chooser #v14 .ui-slider-range-min { background: #07D900; }
#wrap .container .color_chooser #v14 .ui-slider-handle { border: 2px solid #2A7928; }
#wrap .container .color_chooser #v15 .ui-slider-range-min { background: #D9423A; }
#wrap .container .color_chooser #v15 .ui-slider-handle { border: 2px solid #861F1A; }
#wrap .container .color_chooser #v16 .ui-slider-range-min { background: #DADADB; }
#wrap .container .color_chooser #v16 .ui-slider-handle { border: 2px solid #828282; }
#wrap .container .color_chooser .button_space { width: 20%; height: 100%; display: inline-block; position: relative; }
#wrap .container .color_chooser button { width: 70%; height: 15%; display: block; border: none; position: absolute; cursor: pointer; outline: none; }
#wrap .container .color_chooser .sounder { top: 20%; width: 70%; height: 30%; background: #3c3c3c; color: #d2d2d2; border-radius: 2px; }
#wrap .container .color_chooser .sounder img { width: 70%; }
#wrap .container .color_chooser #s1 { border-bottom: 5px solid #BF1100; }
#wrap .container .color_chooser #s2 { border-bottom: 5px solid #00088F; }
#wrap .container .color_chooser #s3 { border-bottom: 5px solid #0F6600; }
#wrap .container .color_chooser #s4 { border-bottom: 5px solid #808080; }
#wrap .container .color_chooser #s5 { border-bottom: 5px solid #44024C; }
#wrap .container .color_chooser #s6 { border-bottom: 5px solid #D97000; }
#wrap .container .color_chooser #s7 { border-bottom: 5px solid #D9D500; }
#wrap .container .color_chooser #s8 { border-bottom: 5px solid #4C2F00; }
#wrap .container .color_chooser #s9 { border-bottom: 5px solid #FFC0CB; }
#wrap .container .color_chooser #s10 { border-bottom: 5px solid #232323; }
#wrap .container .color_chooser #s11 { border-bottom: 5px solid #0AD6D9; }
#wrap .container .color_chooser #s12 { border-bottom: 5px solid #DB12D3; }
#wrap .container .color_chooser #s13 { border-bottom: 5px solid #3D301C; }
#wrap .container .color_chooser #s14 { border-bottom: 5px solid #07D900; }
#wrap .container .color_chooser #s15 { border-bottom: 5px solid #D9423A; }
#wrap .container .color_chooser #s16 { border-bottom: 5px solid #DADADB; }
#wrap .container .color_chooser .sounder:active { margin-top: 4px; background: #005050; }
#wrap .container .color_chooser .html_sounder { display: none; }
#wrap .container .color_chooser .top { border-radius: 2px 2px 0 0; top: 60%; }
#wrap .container .color_chooser .bottom { border-radius: 0 0 2px 2px; bottom: 10%; }
#wrap .container .color_chooser .right { left: 14%; }
#wrap .container .button { float: left; width: 13%; height: 75%; cursor: pointer; border-radius: 5px; display: flex; justify-content: center; align-items: center; color: black; font-size: 60px; font-family: arial; font-weight: bold; text-shadow: -1px -1px 0 #ffffff,   1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; }
#wrap .container .button:active { transition: margin-top 0.1s ease,box-shadow 0.1s ease; margin-top: 4px; }
#wrap .container .button + .button { margin-left: 6.666666666%; }
