//colors

$wrap_back:#242424;

$red:#BF1100;
$blue:#00088F;
$green:#0F6600;
$gray:gray;

$purple:#44024C;
$orange:#D97000;
$yellow:#D9D500;
$brown:#4C2F00;

$pink:pink;
$dark_gray:#232323;
$light_blue:#0AD6D9;
$light_purple:#DB12D3;

$dark_brown:#3D301C;
$light_green:#07D900;
$light_red:#D9423A;
$white:#DADADB;