@mixin button_shadow($color){
	box-shadow: 1px 0px 0px $color,0px 1px 0px $color,
              2px 1px 0px $color,1px 2px 0px $color,
              3px 2px 0px $color,2px 3px 0px $color,
              4px 3px 0px $color,3px 4px 0px $color,
              5px 4px 0px $color,4px 5px 0px $color,
              6px 5px 0px $color,5px 6px 0px $color,
              7px 6px 0px $color,6px 7px 0px $color,
              8px 7px 0px $color,7px 8px 0px $color,
              9px 8px 0px $color,8px 9px 0px $color;
}

@mixin black_back($opacity){
	background: rgba(0,0,0,$opacity);
}

@mixin flexer(){
	display:flex;
	justify-content:center;
	align-items:center;
}

@mixin sounder_color($color){
       border-bottom:5px solid $color;
}