@import "colors";

*{margin:0;padding:0;font-family:arial;}

@mixin button_shadow($color){
	box-shadow: 1px 0px 0px $color,0px 1px 0px $color,
              2px 1px 0px $color,1px 2px 0px $color,
              3px 2px 0px $color,2px 3px 0px $color,
              4px 3px 0px $color,3px 4px 0px $color,
              5px 4px 0px $color,4px 5px 0px $color,
              6px 5px 0px $color,5px 6px 0px $color,
              7px 6px 0px $color,6px 7px 0px $color,
              8px 7px 0px $color,7px 8px 0px $color,
              9px 8px 0px $color,8px 9px 0px $color;
}

@mixin black_back($opacity){
	background: rgba(0,0,0,$opacity);
}

body{overflow-x:hidden;}

#head{
	height:12vh;
	display:flex;
	justify-content:center;
	align-items:center;
	@include black_back(.9);

	h1{
		text-align:center;
		color: white;
		font-size: 60px;
	}
}
#foot{
	height:8vh;
	display:flex;
	justify-content:center;
	align-items:center;
	@include black_back(.9);
	
	h2{
		text-align:center;
		color: white;
		font-size: 30px;
	}
}

#wrap{

	height:80vh;
	background:$wrap_back;
	
	.container{

		height: 25%;
		width: 80%;
		margin: 0 auto;
		display:flex;
		justify-content:center;
		align-items:center;
		@include black_back(.7);

		.color_chooser{
			border:1px solid white;
			height:100%;
			width:14%;

			.button_space{
				width:50%;
				height:50%;
				border:1px blue solid;
				margin-top:25%;
			}

			button{
				width:70%;
				height:50%;
				margin:0;
				display:block;
			}
		}

		.button{
			float: left;
			width: 13%;
			height: 75%;
			cursor: pointer;
			border-radius: 5px;
			display:flex;
			justify-content:center;
			align-items:center;
			color: black;
			font-size: 60px;
			font-family: arial;
			font-weight: bold;
			text-shadow:
  		 -1px -1px 0 #ffffff,  
   			1px -1px 0 #ffffff,
 				-1px 1px 0 #ffffff,
     		1px 1px 0 #ffffff;
		}

		.button:active{
			transition: margin-top 0.1s ease,
	          			box-shadow 0.1s ease;
			margin-top:4px;
		}

		.button+.button{margin-left:6.666666666%;}

	}

}

#color_1{background:$red;@include button_shadow($red_shadow);}
#color_2{background:$blue;@include button_shadow($blue_shadow);}
#color_3{background:$green;@include button_shadow($green_shadow);}
#color_4{background:$gray;@include button_shadow($gray_shadow);}

#color_5{background:$purple;@include button_shadow($purple_shadow);}
#color_6{background:$orange;@include button_shadow($orange_shadow);}
#color_7{background:$yellow;@include button_shadow($yellow_shadow);}
#color_8{background:$brown;@include button_shadow($brown_shadow);}

#color_9{background:$pink;@include button_shadow($pink_shadow);}
#color_10{background:$dark_gray;@include button_shadow($dark_gray_shadow);}
#color_11{background:$light_blue;@include button_shadow($light_blue_shadow);}
#color_12{background:$light_purple;@include button_shadow($light_purple_shadow);}

#color_13{background:$dark_brown;@include button_shadow($dark_brown_shadow);}
#color_14{background:$light_green;@include button_shadow($light_green_shadow);}
#color_15{background:$light_red;@include button_shadow($light_red_shadow);}
#color_16{background:$white;@include button_shadow($white_shadow);}

#panel{
	position: absolute;
	top:0;
	left:97%;
	z-index:100;
	width:30%;
	color:white;
	// background:black;
	//
	#arrow{
		width: 10%;
		height: 100vh;
		background:rgba(0,0,0,.8);
		float: left;
		display:flex;
		justify-content:center;
		align-items:center;

		#arrowhead{
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 20px 20px 0;
			border-color: transparent #424242 transparent transparent;
		}
	}
	#top{
		height: 12vh;
		width: 90%;
		float: right;
		background:rgba(0,0,0,.6);
		display:flex;
		justify-content:center;
		align-items:center;
	}
	#sounds{
		box-sizing:border-box;
		padding:10px;
		height: 88vh;
		width: 90%;
		float: right;
		background:rgba(0,0,0,.7);
		overflow-y: scroll;
		.sound_button{
	    background:black;
	    color:white;
	    border-radius:5px;
	    text-align:center;
	    width:100px;
	    padding:5px;
	    border:2px solid gray;
	    cursor: pointer;
	    // margin-bottom:10px;
		}
		.html_sound_button{
			display:none;
		}
		p{
			color:white;
			display: inline-block;
		}
		hr{width:70%;margin:5px auto;border:0;border-top:1px solid white;}
	}
}

.slide{
	left:-70%;
}