@import "colors";
@import "mixins";
@import "buttons";
@import "panel";

*{margin:0;padding:0;font-family:arial;}

#head{
	height:11vh;
	@include flexer();
	@include black_back(.9);

	h1{
		text-align:center;
		color: white;
		font-size: 45px;
	}
}
#foot{
	height:7vh;
	@include flexer();
	@include black_back(.9);
	
	h2{
		text-align:center;
		color: white;
		font-size: 20px;
	}
}

#wrap{

	height:80vh;
	background:$wrap_back;
	padding-bottom:2vh;
	
	#start{padding-top:1vh;}
	#end{padding-bottom:1vh;}

	.container{

		height: 25%;
		width: 80%;
		margin: 0 auto;
		@include flexer();
		@include black_back(.7);

		.color_chooser{
			// border:1px solid white;
			height:100%;
			width:14%;

			.volume_space{
				height:100%;
				width:50%;
				display:inline-block;
			}

			.volume{
				// border:solid 1px green;
				width:40%;
				height:100%;
				display:inline-block;
				position:relative;
				// border: none;
    		outline: none;
			}

			.shift{left:15%;}

			.slider{
				position:relative;
				border:2px solid rgb(60,60,60);
				position: absolute;
				bottom:10%;
				background:rgb(30,30,30);
				left:30%;
			}

			.right{left:70%;}

			.slider .ui-slider-range-min{
		  	border:2px solid black;
		  	box-sizing: border-box;
		  	border-radius:1px;
			}

			.slider .ui-slider-handle{
		    outline: none;
		    height:10%;
		    // background:rgb(20,20,20);
		    background:rgb(60,60,60);
		    cursor:pointer;
			}

			#v1 .ui-slider-range-min{background: $red;}
			#v1 .ui-slider-handle{border:2px solid $red_shadow;}

			#v2 .ui-slider-range-min{background: $blue;}
			#v2 .ui-slider-handle{border:2px solid $blue_shadow;}

			#v3 .ui-slider-range-min{background: $green;}
			#v3 .ui-slider-handle{border:2px solid $green_shadow;}

			#v4 .ui-slider-range-min{background: $gray;}
			#v4 .ui-slider-handle{border:2px solid $gray_shadow;}

			#v5 .ui-slider-range-min{background: $purple;}
			#v5 .ui-slider-handle{border:2px solid $purple_shadow;}

			#v6 .ui-slider-range-min{background: $orange;}
			#v6 .ui-slider-handle{border:2px solid $orange_shadow;}

			#v7 .ui-slider-range-min{background: $yellow;}
			#v7 .ui-slider-handle{border:2px solid $yellow_shadow;}

			#v8 .ui-slider-range-min{background: $brown;}
			#v8 .ui-slider-handle{border:2px solid $brown_shadow;}

			#v9 .ui-slider-range-min{background: $pink;}
			#v9 .ui-slider-handle{border:2px solid $pink_shadow;}

			#v10 .ui-slider-range-min{background: $dark_gray;}
			#v10 .ui-slider-handle{border:2px solid $dark_gray_shadow;}

			#v11 .ui-slider-range-min{background: $light_blue;}
			#v11 .ui-slider-handle{border:2px solid $light_blue_shadow;}

			#v12 .ui-slider-range-min{background: $light_purple;}
			#v12 .ui-slider-handle{border:2px solid $light_purple_shadow;}

			#v13 .ui-slider-range-min{background: $dark_brown;}
			#v13 .ui-slider-handle{border:2px solid $dark_brown_shadow;}

			#v14 .ui-slider-range-min{background: $light_green;}
			#v14 .ui-slider-handle{border:2px solid $light_green_shadow;}

			#v15 .ui-slider-range-min{background: $light_red;}
			#v15 .ui-slider-handle{border:2px solid $light_red_shadow;}

			#v16 .ui-slider-range-min{background: $white;}
			#v16 .ui-slider-handle{border:2px solid $white_shadow;}

			.button_space{
				width:20%;
				height:100%;
				display:inline-block;
				position:relative;
			}

			button{
				width:70%;
				height:15%;
				display:block;
				border:none;
				position:absolute;
				cursor:pointer;
				outline:none;
			}

			.sounder{
				top:20%;
				width:70%;
				height:30%;
				background:rgb(60,60,60);
				color:rgb(210,210,210);
				border-radius:2px;

				img{width:70%;}
			}
			#s1{@include sounder_color($red);}
			#s2{@include sounder_color($blue);}
			#s3{@include sounder_color($green);}
			#s4{@include sounder_color($gray);}
			#s5{@include sounder_color($purple);}
			#s6{@include sounder_color($orange);}
			#s7{@include sounder_color($yellow);}
			#s8{@include sounder_color($brown);}
			#s9{@include sounder_color($pink);}
			#s10{@include sounder_color($dark_gray);}
			#s11{@include sounder_color($light_blue);}
			#s12{@include sounder_color($light_purple);}
			#s13{@include sounder_color($dark_brown);}
			#s14{@include sounder_color($light_green);}
			#s15{@include sounder_color($light_red);}
			#s16{@include sounder_color($white);}

			.sounder:active{
				// transition: margin-top 0.1s ease;
				margin-top:4px;
				background:rgb(100,100,100);
			}

			.html_sounder{
				display:none;
			}		

			.top{border-radius: 2px 2px 0 0;top:60%;}
			.bottom{border-radius: 0 0 2px 2px;bottom:10%;}

			// .left{left:55%;}
			.right{left:14%;}
		}

		.button{
			float: left;
			width: 13%;
			height: 75%;
			cursor: pointer;
			border-radius: 5px;
			@include flexer();
			color: black;
			font-size: 60px;
			font-family: arial;
			font-weight: bold;
			text-shadow:
  		 -1px -1px 0 #ffffff,  
   			1px -1px 0 #ffffff,
 				-1px 1px 0 #ffffff,
     		1px 1px 0 #ffffff;
		}

		.button:active{
			transition: margin-top 0.1s ease,box-shadow 0.1s ease;
			margin-top:4px;
		}

		.button+.button{margin-left:5%;}
		.button:nth-child(2){margin-left:1%;}
		.button:nth-child(5){margin-right:1%;}

	}

}

  .ui-tooltip {
  	@include black_back(.7);
    padding: 10px 20px;
    color: rgb(220,220,220);
    border-radius: 5px;
    font: 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px rgb(150,150,150);
    border:1px solid rgb(220,220,220);
  }